.info-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;

  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 750px) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.loading {
  margin-top: 10%;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
