@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100&display=swap');

.info-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;


  padding-right: 150px;
  padding-left: 150px;
  
}

.info-title {
  font-family: 'Nanum Gothic Coding', monospace;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 30px;

}

@media (max-width: 576px) {
  .info-grid{
    grid-template-columns: 1fr;
   max-width: 400px;
   padding: 0;
   margin: 0;
  }
}

@media (max-width: 750px) and (min-width: 577px) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

@media (min-width: 751px) and (max-width: 1180px) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }
}

@media (min-width: 1181px) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.loading {
  padding-top: 100px;
  padding-right: 150px;
  padding-left: 150px;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  max-width: 400px;
  position: relative;
  text-align: center;
  background-color: rgb(252, 252, 252);
  border-color: lightgray;
  height: 280px;
  white-space:nowrap;
  text-overflow:ellipsis;
 
}
