@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100&display=swap');
.rank-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding-right: 150px;
  padding-left: 150px;
  
}


@media (max-width: 750px) {
  .rank-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .rank-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .rank-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.box-title {
  font-family: 'Nanum Gothic Coding', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.boxoffice-card {
  margin-top: 15px;
  background-color: rgb(252, 252, 252);
  border-color: lightgray;
}
